<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <%= t ".image" %>
        </th>
        <th>
          <%= t ".name" %>
        </th>
        <th>
          <%= t ".quantity" %>
        </th>
        <th>
          <%= t ".unit" %>
        </th>
        <th>
          <%= t ".total" %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render @order_details %>
    </tbody>
  </table>
</div>
