<% provide(:title, t(".title")) %>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
  <h3 class="w3-bar-item"><%= t ".category" %></h3>
<nav>
  <ul class="nav" id="nav-menu">
    <%= render @parents %>
  </ul>
</nav>
</div>
<!-- Page Content -->
<div class="main-page" style="margin-left:20%">
  <div class="w3-container w3-teal">
    <h1><%= t ".product" %></h1>
  </div>
  <div class="w3-container">
    <div class="block">
      <%= render @products %>
    </div>
  </div>
  <div class="block-bottom">
    <% if current_user.present? && current_user.admin? %>
      <%= link_to t(".create"), new_product_path,
        class: "btn btn-primary btn-create-product" %>
    <% end %>
  </div>
</div>
<script src="/assets/product.js"></script>
</body>
</html>
