<tr>
  <td>
    <%= image_tag suggestion.image.url, class: :image_detail %>
  </td>
  <td>
    <%= suggestion.name %>
  </td>
  <td>
    <%= suggestion.description %>
  </td>
  <td>
    <%= suggestion.category.name %>
  </td>
  <td>
    <%= suggestion.status %>
    <% if current_user.admin? %>
      <%= form_for suggestion, remote: true do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <%= f.select(:status, @statuses) %>
        <%= f.submit t(".update"), class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </td>
  <% if current_user.admin? %>
    <td>
      <%= suggestion.user.name %>
    </td>
  <% end %>
</tr>

