<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <%= t ".image" %>
        </th>
        <th>
          <%= t ".name" %>
        </th>
        <th>
          <%= t ".description" %>
        </th>
        <th>
          <%= t ".category" %>
        </th>
        <th>
          <%= t ".status" %>
        </th>
        <% if current_user.admin? %>
          <th>
            <%= t ".user_name" %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render @suggestions %>
    </tbody>
  </table>
</div>
