<% provide(:title, t(".title")) %>
<h1><%= t ".title" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @suggestion do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :name, t(".name") %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :description, t(".description") %>
      <%= f.text_field :description, class: "form-control" %>

      <%= f.label :category_id, t(".category") %>
      <%= f.select(:category_id, options_for_select(@categories),
        prompt: t(".select_category")) %>
      <%= f.submit t(".submit"), class: "btn btn-primary" %>
      <%= f.file_field :image %>
    <% end %>
  </div>
</div>
